.container{
    margin: 0%;
    padding: 0;
}
.navbar{
    display: flex;
    justify-content: space-between;
}
.nav-style{
    color: rgb(28, 224, 28);
    text-shadow: rgb(rgb(230, 13, 13), rgb(25, 224, 25), rgb(25, 25, 233));
}
.navigation{
    display: flex;
    align-items: center;
}
.nav-title{
    margin-left: 10px;
    justify-content: space-between;
    list-style: none;
}